.column {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    flex: 1 1 300px;

    .columnContent {
        max-height: calc(100vh - 200px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--text-secondary);
            border-radius: 3px;

            &:hover {
                background: var(--text-primary);
            }
        }
    }

    .tasksList {
        flex: 1;
        min-height: 100px;
        gap: 0.75rem;
    }
}