.avatarBox {
    border-radius: var(--border-radius-pill);
    --accent-a3: var(--button-primary);
    --accent-a11: var(--button-secondary);
    border: none !important;
}

.menuList{
    position: fixed;
}