.toggleButton {
  border-radius: var(--border-radius-pill);
  background-color: var(--background);
  border: 2px solid var(--gray-alpha-200);
  color: var(--foreground);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:active {
    transform: scale(0.95) rotate(-5deg);
  }
}
