.columnWrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.badgeCount {
    background-color: var(--card-border);
    color: var(--text-primary);
    border-radius: var(--spacing-small);
}

.statusDot {
    border-radius: var(--border-radius-pill);
}
.ToDo {
    background-color: var(--status-to-do);
}

.InProgress {
    background-color: var(--status-in-progress);
}

.Completed {
    background-color: var(--status-completed);
}

.OnHold {
    background-color: var(--status-on-hold);
}

.Cancelled {
    background-color: var(--status-cancel);
}

.Overdue {
    background-color: var(--status-overdue);
}