.navBar {
    background-color: var(--navbar);
    color: var(--navbar-text-primary);
}

.navTab {
    font-size: 13px;
}

.avatarBox{
    border-radius: var(--border-radius-pill);
}   

.subText{
    color: var(--navbar-text-secondary);
}