.fieldInput {
  padding: var(--spacing-small);
  border: 1px solid var(--card-border);
  border-radius: var(--spacing-small);
  background-color: var(--card-secondary);
  width: 100%;
  resize: none;
  font-family: inherit;

  &::placeholder {
    color: var(--text-secondary);
  }
}

.iconWrapper {
  color: var(--text-secondary);
  z-index: 1;
  transition: color 0.2s ease;
  background-color: var(--button-hover);
  border-radius: var(--border-radius-small);
  cursor: pointer;

  &:hover {
    color: var(--text-primary);
    background-color: var(--button-active);
  }
}

.selectedItem {
  background-color: var(--button-primary);
  color: var(--button-secondary);
  border-radius: var(--spacing-medium);
}

.validateMessage {
  color: var(--status-cancel);
  font-size: 12px;
  font-weight: light;
}

.fieldWrapper {
  width: 100%;
}

.dialogContent {
  border: 1px solid var(--card-border);
  padding: 0;
}