.fieldInput {
  padding: var(--spacing-small);
  border: 1px solid var(--card-border);
  border-radius: var(--spacing-small);
  background-color: var(--card-secondary);
  color: var(--text-secondary);
}

.validateMessage{
  color: var(--status-cancel);
  font-size: 12px;
  font-weight: light;
}