.primaryButton {
  background: var(--button-primary);
  color: var(--button-secondary);
}

.secondaryButton {
  background: var(--button-secondary);
  color: var(--button-primary);
  border: 1px solid var(--card-border);
}

.warningButton {
  background: var(--status-cancel);
  color: var(--button-secondary);
}

.tabButton {
  background: none;
  color: var(--navbar-text-secondary);
  &:hover {
    background-color: var(--button-hover);
    color: var(--text-primary);
  }

  &.active {
    background-color: var(--card-secondary);
    color: var(--text-primary);
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }
}
