.chatContainer {
  border-right: 1px solid var(--card-border);
  background-color: var(--card-primary);
}

.messageBubble {
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  animation: fadeIn 0.3s ease-out;
  border-radius: var(--spacing-small);
}

.botMessage {
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.userMessage {
  align-self: flex-end;
  border-bottom-right-radius: 0;
  background-color: var(--text-primary) !important;
  color: var(--background)
}

.inputWrapper {
  background-color: var(--background);
  border: 1px solid var(--card-border);
  border-radius: var(--spacing-small);
  transition: border-color 0.2s;
}

.textInput {
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-style: italic;
  resize: none;

  &::placeholder {
    color: var(--text-secondary);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}