.status {
    color: var(--button-secondary);
    border-radius: var(--spacing-small);
}

.statusTrigger {
    all: unset;
    display: inline-flex;

    & :global(.rt-SelectIcon) {
        display: none !important;
    }
}

.selectItem :global(.rt-SelectItemIndicator) {
    display: none !important;
}

.statusContent {
    background-color: var(--background);
    color: var(--text-secondary);
    border-radius: var(--spacing-small);
}

.selectItem {
    cursor: pointer;
    color: var(--text-secondary);

    &[data-highlighted],
    &[data-state="checked"] {
        color: var(--button-secondary);

        &.ToDo {
            background-color: var(--status-to-do);
        }

        &.InProgress {
            background-color: var(--status-in-progress);
        }

        &.Completed {
            background-color: var(--status-completed);
        }

        &.OnHold {
            background-color: var(--status-on-hold);
        }

        &.Cancelled {
            background-color: var(--status-cancel);
        }

        &.Overdue {
            background-color: var(--status-overdue);
        }
    }
}

.status.ToDo {
    background-color: var(--status-to-do);
}

.status.InProgress {
    background-color: var(--status-in-progress);
}

.status.OnHold {
    background-color: var(--status-on-hold);
}

.status.Completed {
    background-color: var(--status-completed);
}

.status.Cancelled {
    background-color: var(--status-cancel);
}

.status.Overdue {
    background-color: var(--status-overdue);
}